:root {
  --rosewater: #dc8a78;
  --flamingo: #dd7878;
  --red: #f38ba8;
  --maroon: #eba0ac;
  --blue: #89b4fa;
  --yellow: #f9e2af;
  --green: #a6e3a1;
  --peach: #fab387;
  --teal: #94e2d5;
  --pink: #f5c2e7;
  --text: #1e1e2e;
  --text-light: #313244;
}

p {
  text-align: justify;
}

/* MARGINS */
mb-0 {
  margin-bottom: 0;
}

/* ALIGNMENTS */
.center {
  text-align: center;
}

/* FONT SIZES */
.md {
  font-size: 1.25em;
}

.lg {
  font-size: 1.5em;
}

.wide {
  letter-spacing: 0.2rem;
}
